# ignore data in TimonTests
inverse_problems/TimonTests/*.npz
inverse_problems/TimonTests/*.npy

inverse_problems/TimonTests

# no video files
inverse_problems/motion_estimation/*.avi
inverse_problems/motion_estimation/*.mp4
inverse_problems/joint_image_motion_approach/*.avi
inverse_problems/joint_image_motion_approach/*.mp4
inverse_problems/main_test_file/*.mp4
inverse_problems/main_test_file/*.avi

.avi
.mp4

# less figures
inverse_problems/motion_estimation/*.png
inverse_problems/joint_image_motion_approach/*.png
inverse_problems/main_test_file/result*/

# only push the main_test_file since the rest can be derived by it
inverse_problems/motion_estimation
inverse_problems/joint_image_motion_approach
inverse_problems/image_reconstruction
inverse_problems/image_tools